@{
    var position = ViewData["Position"] as string ?? "default";
    var size = ViewData["Size"] as string ?? "300x250";
    var dimensions = size.Split('x');
    var width = dimensions.Length > 0 ? dimensions[0] : "300";
    var height = dimensions.Length > 1 ? dimensions[1] : "250";
}
<div class="ad-slot ad-slot-@position" data-ad-position="@position" data-ad-size="@size">
    <div class="ad-placeholder" style="width: @(width)px; height: @(height)px;">
        <span class="ad-label">Advertisement</span>
    </div>
</div>
