<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a1b2c3d4-0008-0000-0000-000000000008" Alias="tagsContainer" Level="2">
  <Info>
    <Name>Tags</Name>
    <Icon>icon-tags</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Container for tags</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="a1b2c3d4-0005-0000-0000-000000000005" SortOrder="0">tag</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>
